html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width')
    style(type='text/css').
      .container {
        color:#333;
        font-size:12px; 
        max-width:600px!important;
        display:block!important;
        padding: 0 10px;
        clear:both!important;
      }
      h2 { 
        font-weight: 700; 
        font-size: 14px; 
      } 
      table{ 
        width:100%;
        font-size:12px; 
        box-sizing:border-box;
        border:1px solid #ddd;
        border-spacing:0;
        border-collapse:collapse;
      }
      th{ 
        width:15%!important; 
        box-sizing:border-box;
        padding:7px 5px;
        text-align: center;
        font-weight:bold;
        background:#f8f8f8;
      }
      td{ 
        padding:7px 5px 10px; 
        border:1px solid #ddd; 
        text-align: center; 
      }
      .drop { 
        color: #31A800; 
      }
      .tip {
        padding:10px 5px;
        color: #666;
      }
      .tip li {
        list-style: inside disc;
        line-height:1.5;
      }
  body
    div.container
      each v, k in data
        h2 #{keyMap[k]}
        table
          tr
            th(width="30%") KEY
            th(width="20%") 当日指标值
            th(width="10%") 环比前一天
            th(width="10%") 同比上周
            th(width="10%") 同比上月
            th(width="20%") 周平均
          each v1, k1 in v
            tr
              td !{k1}
              td !{v1.thatDay}
              td !{v1.preDay}
              td !{v1.preWeek}
              td !{v1.preMonth}
              td !{rdata[k][k1]}
      ul.tip
        li 指标值:某个指标的性能数值按升序排序后，在75%点的值
        li 周平均:某个指标的性能指标值根据当前报表日期一周（某天没有数据时,按实际天数计算）的平均值
